/* css to handle the clipping of divs for the angled effect */

.clip-bottom_right{
    width: 100%;
    padding-bottom: 70px;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 70px),
        0% 100%
    );
}
.clip-top_left{
    width: 100%;
    /*padding-top: 20px;*/
    clip-path: polygon(
        1% 100%,
        100% 100%,    
        100% 0%,
        0% 100%
        
    );
}
.minus-100_top{
    margin-top: -100px;
    padding-top: 100px;
}