footer{
    background-color: red;
    padding: 1rem;
    height: fit-content;
}
.aoc{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aoc_flags{
    height: 40px;
    width: 200px;
    margin-top: 10px;
}
.aoc_text{
    width:60%;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}
.companyDets{
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 0 !important;
}