.header{
    height: 100px;
    background-color: black;
}
.banner_heading{
    position: absolute;
    bottom: 0;
    right: 4rem;
    font-weight: 900;
    display: inline-block;
    width: 50%;
    color: white;
}
.banner_h1{
    width: 100%;
    font-size: 5rem;
    text-align: right;
    
}
.banner_bg{
    background-image:url("../../img/bg/crane.jpg");
    height: 100vh;
}