.shadow{
    text-shadow: 0.2rem 0.2rem var(--softBlack);
}
.image-bg{
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    padding-top: 30px;
    padding-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
.rem3-top_bottom{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.rem2-top_bottom{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.thirdbg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_thirdbg{
    background-image:url("../../img/bg/warehouse.jpg");
    background-position: 0 150px 0 0;
    height: 400px;
    padding-top: 100px;
}
.about_thirdbg{
    background-image:url("../../img/bg/image5.jpg");
    height: 500px;
}
.about_thirdbg *{
    font-size: 2rem;
    width: 80%;
}
.noclip_content{
    width: 80%;
    margin: 0 auto;
    font-size: 2rem;
}
.bgTint{
    width: 100%;
    margin: 0 auto;
    height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 3rem;
    text-align: center;
    padding:2rem;
}
.contact-section{
    height: fit-content;
}
.centerFlex{
    display: flex;
    flex-wrap: wrap;
    width:90%;
    margin:0 auto;
    justify-content: space-around;
    
}
.contentLink{
    height: auto;
    width: 20%;
    transition-duration: 0.5s;
    min-width: 200px;
    margin-bottom: 20px;
}
.contentLink:hover{
    scale:1.2;
    box-shadow: 2px 2px 2px var(--softBlack);
}
.contentLink img{
    height: 100%;
    width: 100%;
}
.content2{
    width: 80%;
    margin: 0 auto;
}
.list{
    text-align: left;
    font-size: 1.2rem;
    width: 80%;
    margin: 3rem auto;
    margin-bottom: 0;
}
.list li{
    list-style-type: circle;
}
.homeBlurb{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: var(--softBlack);
    margin-bottom: calc(80px - 1rem);
}
.pp_emphasise{
    font-weight: bold;
    text-shadow: 1px var(--softBlack);
    display: inline;
}
.blurbWrapper{
    margin-bottom: -100px;
    z-index: 5;
    position: relative
}