:root{
    --darkerBlue: #035f90;
    --lighterBlue: #04c5fe;
    --mainGrey: #353732;
    --coral: #ff6f61;
    --grey: #D3D3D3;
    --teal: #008080;
    --softBlack: #282828;
    --softBlackAlpha: #28282833;
    }
    