/* css for the nav section */
#navbar{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 5;
    height: 2.5rem;
    color: white;
    position: fixed;
    top: 2rem;
}

#menuWord{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
}
#menuBurger{
    display: none;
}

.bar1, 
.bar2, 
.bar3 {
    width: 35px;
    height: 6px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 2px;
    
    box-sizing: border-box;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
#menuWord .bar1, 
#menuWord .bar2, 
#menuWord .bar3{
    width: 0;
    
}
#menuWord.change .bar1,
#menuWord.change .bar2,
#menuWord.change .bar3{
    width: 35px;
    justify-self: center;
    border:1px solid var(--softBlack);
    
}
#menuWord .bar2{
    opacity: 0;
    
}
#menuWord h4{
    display: inline-block;
    transition: 0.4s;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    
}
#menuWord.change h4{
    width: 0;
    font-size: 0rem;
}

.sticky {
    position: fixed !important;
    top: 2rem;
    
}