/* On screens that are less than 800px wide*/
@media screen and (max-width: 800px) {
    .banner_heading {
        width: 90%;
        right: 5%;
    }
    .banner_h1{
        font-size: 2rem;
    }
}
